<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morsalin Kausar</title>
    <link rel="stylesheet" href="./css/sass/main.css">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header_container">
            <div class="left_header">
                <h2>hello i'm<br/><span>{{name}}</span> kausar</h2>
                <p>I'm a fullstack mearn devoloper . I am working Ractjs and nodejs . I love javascript . I want to a pro lavel computer programmer.!</p>
                <a href="https://www.linkedin.com/in/morsalin-kausar-2aa235215/" target="_blank">
                    hire me
                </a>
            </div>
            <div class="right_header">
                <img src="../images/cuteboy.png" alt="cuteboypng" >
            </div>
        </div>
    </header>

    <!-- biography section -->

    <section class="biography_section">
       <div class="bio_container">
            <div class="bio_left">
                <img src="../images/kausar1.png" alt="">
            </div>
            <div class="bio_right">
                <h1>Biography</h1>
                <p>I am Morsalin Kausar . I am a web designer and devoloper . I have 13+ skills . I was interning softoware company .!</p>
                <a href="#">download cv</a>
            </div>
       </div>
    </section>

    <!-- latest work -->

    <section class="letest_work">
        <div class="work_container">
            <h2 class="work_title">My latest work</h2>
            <div class="work_content">
                <div class="workboth">
                    <img src="../images/work-1.png" alt="workpng">
                </div>
                <div class="workboth">
                    <img src="../images/work-2.jpg" alt="workpng">
                </div>
                <div class="workboth">
                    <img src="../images/work-3.jpg" alt="workpng">
                </div>
            </div>
        </div>
    </section>

    <!-- footer section -->
    {{>footer}}

</body>
</html>