
    <footer>
        <div class="footer_section">
            <h2>what client are say</h2>
            <h3>morsalin kausar</h3>
            <h4>web designer and devoloper</h4>
            <div class="footer_para">
                <p>"My code clean and seo friendly . Biggest responsive and creative website . Now this is server for github . But somedays after this web stay for these server! "</p>
            </div>
            <div class="footer_email">
                <h4>leave me massage in the</h4>
                <h3>morsalinkausar043@gmail.com</h3>
            </div>
        </div>
        <div class="footer_last">
            <p>morsalin kausar inactive.&copy 2021 all right reversed</p>
        </div>

        <hr>
    </footer>